<!DOCTYPE html>
<html lang="ru">
<%- include('./layout/head', {title: title}) %>
<body>
<div class="wrapper">
    <%- include('./layout/header') %>
    <main class="page page__about">
        <section class="about-title _container">
            <h1 class="_title">О приюте</h1>
        </section>

        <section class="about-gallery">
            <div class="about-gallery__slider slider-about">
                <div class="slider-about__body _swiper _gallery">
                    <a href="/shelter/1.jpg" class="slider-about__slide _ibg">
                        <img src="/shelter/1.jpg" alt="Фото приюта">
                    </a>
                    <a href="/shelter/2.jpg" class="slider-about__slide _ibg">
                        <img src="/shelter/2.jpg" alt="Фото приюта">
                    </a>
                    <a href="/shelter/3.jpg" class="slider-about__slide _ibg">
                        <img src="/shelter/3.jpg" alt="Фото приюта">
                    </a>
                    <a href="/shelter/4.jpg" class="slider-about__slide _ibg">
                        <img src="/shelter/4.jpg" alt="Фото приюта">
                    </a>
                    <a href="/shelter/5.jpg" class="slider-about__slide _ibg">
                        <img src="/shelter/5.jpg" alt="Фото приюта">
                    </a>
                    <a href="/shelter/6.jpg" class="slider-about__slide _ibg">
                        <img src="/shelter/6.jpg" alt="Фото приюта">
                    </a>
                    <a href="/shelter/7.jpg" class="slider-about__slide _ibg">
                        <img src="/shelter/7.jpg" alt="Фото приюта">
                    </a>
                    <a href="/shelter/8.jpg" class="slider-about__slide _ibg">
                        <img src="/shelter/8.jpg" alt="Фото приюта">
                    </a>
                    <a href="/shelter/9.jpg" class="slider-about__slide _ibg">
                        <img src="/shelter/9.jpg" alt="Фото приюта">
                    </a>
                    <a href="/shelter/10.jpg" class="slider-about__slide _ibg">
                        <img src="/shelter/10.jpg" alt="Фото приюта">
                    </a>
                    <a href="/shelter/11.jpg" class="slider-about__slide _ibg">
                        <img src="/shelter/11.jpg" alt="Фото приюта">
                    </a>
                    <a href="/shelter/12.jpg" class="slider-about__slide _ibg">
                        <img src="/shelter/12.jpg" alt="Фото приюта">
                    </a>
                    <a href="/shelter/13.jpg" class="slider-about__slide _ibg">
                        <img src="/shelter/13.jpg" alt="Фото приюта">
                    </a>
                    <a href="/shelter/14.jpg" class="slider-about__slide _ibg">
                        <img src="/shelter/14.jpg" alt="Фото приюта">
                    </a>
                    <a href="/shelter/15.jpg" class="slider-about__slide _ibg">
                        <img src="/shelter/15.jpg" alt="Фото приюта">
                    </a>
                    <a href="/shelter/16.jpg" class="slider-about__slide _ibg">
                        <img src="/shelter/16.jpg" alt="Фото приюта">
                    </a>
                    <a href="/shelter/17.jpg" class="slider-about__slide _ibg">
                        <img src="/shelter/17.jpg" alt="Фото приюта">
                    </a>
                    <a href="/shelter/18.jpg" class="slider-about__slide _ibg">
                        <img src="/shelter/18.jpg" alt="Фото приюта">
                    </a>
                    <a href="/shelter/19.jpg" class="slider-about__slide _ibg">
                        <img src="/shelter/19.jpg" alt="Фото приюта">
                    </a>
                    <a href="/shelter/20.jpg" class="slider-about__slide _ibg">
                        <img src="/shelter/20.jpg" alt="Фото приюта">
                    </a>
                    <a href="/shelter/21.jpg" class="slider-about__slide _ibg">
                        <img src="/shelter/21.jpg" alt="Фото приюта">
                    </a>
                    <a href="/shelter/22.jpg" class="slider-about__slide _ibg">
                        <img src="/shelter/22.jpg" alt="Фото приюта">
                    </a>
                    <a href="/shelter/23.jpg" class="slider-about__slide _ibg">
                        <img src="/shelter/23.jpg" alt="Фото приюта">
                    </a>
                    <a href="/shelter/24.jpg" class="slider-about__slide _ibg">
                        <img src="/shelter/24.jpg" alt="Фото приюта">
                    </a>
                    <a href="/shelter/25.jpg" class="slider-about__slide _ibg">
                        <img src="/shelter/25.jpg" alt="Фото приюта">
                    </a>
                    <a href="/shelter/26.jpg" class="slider-about__slide _ibg">
                        <img src="/shelter/26.jpg" alt="Фото приюта">
                    </a>
                </div>
                <div class="slider-about__arrows slider-about-arrows">
                    <button type="button" class="slider-about-arrows__item slider-about-arrows__item_prev _icon-arrow-short"></button>
                    <button type="button" class="slider-about-arrows__item slider-about-arrows__item_next _icon-arrow-short"></button>
                </div>
                <div class="slider-about__dots"></div>
            </div>


        </section>

        <section class="about-text _container">
        <p>
            <span>
              Приют «В дом кота» - частный мини-приют для бездомных кошек в г. Калуга, на попечении которого постоянно находятся 24 кошки. Приют существует только на пожертвования неравнодушных людей и куратора приюта.
            </span>
            <span>
              Мы спасаем кошек, оказавшихся на улице по причине халатного отношения их бывших хозяев или тех, кто родился в подвалах. В приюте их лечат, обрабатывают от паразитов (блох и глистов), вакцинируют, стерилизуют/кастрируют и ищут ответственных хозяев.
            </span>
            <span>
              Все животные пристраиваются СТРОГО ПО ДОГОВОРУ ответственного содержания и с последующим отслеживанием судьбы.
            </span>
        </p>
        </section>

        <%- include('./blocks/cats-count') %>

        <section class="about-text _container">
            <p>
        <span>
          В планах построить полноценный приют, отдельно стоящее здание, где можно будет спасти гораздо больше животных с улицы.
        </span>
                <span>
          Приюту постоянно требуется помощь в покупке сухого и влажного кормов, наполнителя, лекарств, средств от блох и глистов, финансов на оплату стерилизации и кастрации, анализов и прививок, а также лечения тяжелобольных животных.
        </span>
            </p>
        </section>

        <section class="about-host _container">
            <div class="about-host__body">
                <div class="about-host__text-content about-host-text">
                    <h2 class="about-host-text__title"><span>Куратор приюта</span>: Елена Михайлова</h2>
                    <p class="about-host-text__text">
                        <span>«Всем привет! Меня зовут Лена и я очень люблю котиков!</span>
                        <span>Конечно же, я люблю абсолютно всех животных, как и любой другой человек, у которого есть сострадание и бережное отношение ко всему живому, что окружает нас на нашей планете. Но так получилось, что приют я создала именно для бездомных кошек!</span>
                        <span>В приюте я и мои помощники лечим, заботимся, ухаживаем и главное, - находим котикам хороших и ответственных хозяев!</span>
                    </p>
                    <p class="about-host-text__text about-host-text__text_hidden">
                        <span>Обо мне: Я родилась в городе Калуга, где в данный момент и живу. Мне 39 лет, я основатель и креативный директор SMM Агентства «Influencers Agency», профессиональный фотограф, работаю в Калуге, Москве и других городах. Обожаю путешествовать, люблю море и закаты, горы и сноуборд, открывать новые места в мире! Мой личный аккаунт в Instagram @_elenamikhailova_ !</span>
                        <span>8 лет назад я начала заниматься спасением и пристройством бездомных животных, так как с детства мечтала спасти всех бездомышей с улицы и сделать их домашними! Сначала брала на передержку, потом нашла двух больных котят, потом зимой кошку беременную, выкинутую на улицу, и понеслось…</span>
                        <span>В настоящее время я организовала мини-приют, где помещается максимум только 24 кошки. В масштабах даже одного города - это очень мало… Очень мало удается спасти животных, так как количество мест сильно ограниченно. Часть подопечных живет на передержках, за которые приходится платить. </span>
                        <span>Самая большая и пока нереальная для меня цель и мечта - это построить приют! В идеале это должна быть своя земля плюс специализированная постройка под приют, в котором должны быть рассчитаны зоны:</span>
                        <span>- Помещение под карантин;</span>
                        <span>- Помещение для ветеринарных манипуляций;</span>
                        <span>- Помещение под склад корма и наполнителя;</span>
                        <span>- Помещение для котят;</span>
                        <span>- Помещение для взрослых котов и кошек;</span>
                        <span>- Помещение для возрастных котов и кошек;</span>
                        <span>- Уличный огороженный выгул;</span>
                        <span>- Помещение для волонтеров;</span>
                        <span>Я верю, что когда-нибудь моя мечта сбудется и я всеми силами буду идти к ней! Конечно же, с помощью таких же неравнодушных людей ко всему живому на нашей планете!</span>
                        <span>P.S. На фотке Я и мой одноглазый кот Лис (один из пяти моих домашних котов), конечно же, подобранный с улицы!»</span>
                    </p>

                    <a href="#" class="about-host-text__button btn">Показать еще...</a>
                </div>
                <div class="about-host__photo _ibg">
                    <img src="/aboutus/host.jpg" alt="Хозяин приюта">
                </div>
            </div>
        </section>

        <section class="about-buttons _container">
            <div class="about-buttons__list">
                <a href="/#donation" class="about-buttons__item btn">ПОМОЧЬ ПРИЮТУ</a>
                <a href="https://docs.google.com/forms/d/1PEqWVWYwrkqdPwlh09GGG520wq1OVmQsGlZrRPsMWWQ/edit" target="_blank" class="about-buttons__item btn">Взять котика</a>
            </div>
        </section>
    </main>
    <%- include('./layout/footer', {title: title}) %>
</div>
<%- include('./layout/scripts') %>
</body>
</html>




