<!DOCTYPE html>
<html lang="ru">
<%- include('./layout/head', {title: title}) %>
<body>
<div class="wrapper">
    <%- include('./layout/header') %>
    <main class="page">
        <main class="page page__find">
            <section class="find">
                <div class="find__container _container">
                    <h1 class="find__title _title">Котики, которые ищут дом</h1>
                    <div class="find__content">
                        <% for(var cat of cats) { %>
                            <article class="find__cat cat-item">
                                <div class="cat-item__body">
                                    <div class="cat-item__image _ibg">
                                        <picture>
                                            <source srcset="<%= cat.photoPath %>.webp" type="image/webp">
                                            <img src="<%= cat.photoPath %>.jpg" alt="Котик <%= cat.name %>">
                                        </picture>
                                    </div>
                                    <div class="cat-item__name"><%= cat.name %></div>
                                    <div class="cat-item__overlay">
                                        <a href="/cats/<%= cat.alias %>" class="cat-item__button btn">Посмотреть котика</a>
                                    </div>
                                </div>
                            </article>
                        <% }%>
                    </div>
                </div>
            </section>
        </main>
    </main>
    <%- include('./layout/footer', {title: title}) %>
</div>
<%- include('./layout/scripts') %>
</body>
</html>
