<!DOCTYPE html>
<html lang="ru">
    <%- include('./layout/head', {title: title}) %>
    <body>
        <div class="wrapper">
            <%- include('./layout/header') %>
            <main class="page">
                <%- include('./blocks/intro') %>
                <%- include('./blocks/cat-slider') %>
                <%- include('./blocks/cats-count') %>
                <%- include('./blocks/donation') %>
                <%- include('./blocks/help') %>
                <%- include('./blocks/aboutus') %>
            </main>
            <%- include('./layout/footer', {title: title}) %>
        </div>
        <%- include('./layout/scripts') %>
    </body>
</html>




